.header {
  background-color: #1c2b35;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 140px;

  &__nav a{
    color: #fff;
    text-decoration: none;
    margin-left: 36px;
    font-size: 1rem;
  }
}
